<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apkkids.myinfo_server.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.apkkids.myinfo_server.bean.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="idCard" property="idCard"/>
        <result column="wedlock" property="wedlock"/>
        <result column="nationId" property="nationId"/>
        <result column="nativePlace" property="nativePlace"/>
        <result column="politicId" property="politicId"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="departmentId" property="departmentId"/>
        <result column="jobLevelId" property="jobLevelId"/>
        <result column="posId" property="posId"/>
        <result column="engageForm" property="engageForm"/>
        <result column="tiptopDegree" property="tiptopDegree"/>
        <result column="specialty" property="specialty"/>
        <result column="school" property="school"/>
        <result column="beginDate" property="beginDate"/>
        <result column="workState" property="workState"/>
        <result column="workID" property="workID"/>
        <result column="contractTerm" property="contractTerm"/>
        <result column="conversionTime" property="conversionTime"/>
        <result column="notWorkDate" property="notWorkDate"/>
        <result column="beginContract" property="beginContract"/>
        <result column="endContract" property="endContract"/>
        <result column="workAge" property="workAge"/>
        <association property="nation" javaType="com.apkkids.myinfo_server.bean.Nation">
            <id column="nid" property="id"/>
            <result column="nname" property="name"/>
        </association>
        <association property="position" javaType="com.apkkids.myinfo_server.bean.Position">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
            <result column="pcreateDate" property="createDate" jdbcType="TIMESTAMP"/>
        </association>
        <association property="department" javaType="com.apkkids.myinfo_server.bean.Department">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
        </association>
        <association property="jobLevel" javaType="com.apkkids.myinfo_server.bean.JobLevel">
            <id column="jid" property="id"/>
            <result column="jname" property="name"/>
            <result column="jtitleLevel" property="titleLevel"/>
        </association>
        <association property="politicsStatus" javaType="com.apkkids.myinfo_server.bean.PoliticsStatus">
            <id column="psid" property="id"/>
            <result column="psname" property="name"/>
        </association>
        <association property="salary" javaType="com.apkkids.myinfo_server.bean.Salary">
            <id column="sid" jdbcType="INTEGER" property="id"/>
            <result column="bonus" jdbcType="INTEGER" property="bonus"/>
            <result column="lunchSalary" jdbcType="INTEGER" property="lunchSalary"/>
            <result column="trafficSalary" jdbcType="INTEGER" property="trafficSalary"/>
            <result column="basicSalary" jdbcType="INTEGER" property="basicSalary"/>
            <result column="allSalary" jdbcType="INTEGER" property="allSalary"/>
            <result column="pensionBase" jdbcType="INTEGER" property="pensionBase"/>
            <result column="pensionPer" jdbcType="REAL" property="pensionPer"/>
            <result column="createDate" jdbcType="TIMESTAMP" property="createDate"/>
            <result column="medicalBase" jdbcType="INTEGER" property="medicalBase"/>
            <result column="medicalPer" jdbcType="REAL" property="medicalPer"/>
            <result column="accumulationFundBase" jdbcType="INTEGER" property="accumulationFundBase"/>
            <result column="accumulationFundPer" jdbcType="REAL" property="accumulationFundPer"/>
            <result column="sname" jdbcType="VARCHAR" property="name"/>
        </association>
    </resultMap>

    <select id="getEmployeeByPage" resultMap="BaseResultMap">
        select e.*, n.id as nid, n.name as nname , p.id as pid, p.name as pname, p.createDate as pcreateDate,
        d.id as did, d.name as dname, j.id as jid, j.name as jname, j.titleLevel as jtitleLevel, ps.id as psid, ps.name
        as psname
        from employee e ,nation n, position p, department d, joblevel j, politicsstatus ps
        where e.nationId = n.id AND e.posId = p.id AND e.departmentId = d.id AND e.jobLevelId = j.id AND e.politicId =
        ps.id
        and e.`name` like concat('%',#{keywords},'%')
        <if test="engageForm!=null and engageForm!=''">
            AND e.engageForm=#{engageForm}
        </if>
        <if test="nationId!=null and nationId!=''">
            AND e.nationId=#{nationId}
        </if>
        <if test="posId!=null and posId !=''">
            AND e.posId =#{posId}
        </if>
        <if test="departmentId!=null and departmentId!=''">
            AND e.departmentId =#{departmentId}
        </if>
        <if test="jobLevelId!=null and jobLevelId!=''">
            AND e.jobLevelId =#{jobLevelId}
        </if>
        <if test="politicId!=null and politicId!=''">
            AND e.politicId =#{politicId}
        </if>
        <if test="startBeginDate!=null and endBeginDate!=null">
            AND e.beginDate BETWEEN #{startBeginDate} AND #{endBeginDate}
        </if>
        <if test="start!=null and size!=null">
            order by e.id limit #{start},#{size}
        </if>
    </select>

    <select id="getCountByKeywords" resultType="Long">
        select count(*) from employee e where e.`name` like concat('%',#{keywords},'%')
        <if test="engageForm!=null and engageForm!=''">
            AND e.engageForm=#{engageForm}
        </if>
        <if test="nationId!=null and nationId!=''">
            AND e.nationId=#{nationId}
        </if>
        <if test="posId!=null and posId !=''">
            AND e.posId =#{posId}
        </if>
        <if test="departmentId!=null and departmentId!=''">
            AND e.departmentId =#{departmentId}
        </if>
        <if test="jobLevelId!=null and jobLevelId!=''">
            AND e.jobLevelId =#{jobLevelId}
        </if>
        <if test="politicId!=null and politicId!=''">
            AND e.politicId =#{politicId}
        </if>
        <if test="startBeginDate!=null and endBeginDate!=null">
            AND e.beginDate BETWEEN #{startBeginDate} AND #{endBeginDate}
        </if>
    </select>

    <!--字典表-->
    <select id="getAllNations" resultType="com.apkkids.myinfo_server.bean.Nation">
        SELECT * FROM nation
    </select>
    <select id="getAllPosition" resultType="com.apkkids.myinfo_server.bean.Position">
        SELECT  * FROM position
    </select>
    <select id="getAllPoliticsStatus" resultType="com.apkkids.myinfo_server.bean.PoliticsStatus">
        SELECT * from politicsstatus
    </select>
    <select id="getAllJobLevel" resultType="com.apkkids.myinfo_server.bean.JobLevel">
        SELECT * from joblevel
    </select>
    <select id="getAllDepartment" resultType="com.apkkids.myinfo_server.bean.Department">
        SELECT * from department
    </select>

    <delete id="deleteEmpById">
        DELETE FROM employee WHERE id IN
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>