<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apkkids.myinfo_server.mapper.PositionMapper">
    <resultMap id="BaseResultMap" type="com.apkkids.myinfo_server.bean.Position">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="createDate" property="createDate" jdbcType="DATE"/>
        <result column="enabled" property="enabled"/>
    </resultMap>
    <select id="getAllPositions" resultMap="BaseResultMap">
        select * from position;
    </select>
    <delete id="deletePositionById" parameterType="int">
        delete from position where id in 
        <foreach collection="ids" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
    <insert id="addPosition" parameterType="com.apkkids.myinfo_server.bean.Position">
        insert into position (name, createDate, enabled) values
        (#{pos.name},#{pos.createDate},#{pos.enabled});
    </insert>
    <update id="updatePos" parameterType="com.apkkids.myinfo_server.bean.Position">
        update position
        <set>
            <if test="pos.name != null">
                name = #{pos.name,jdbcType=VARCHAR},
            </if>
            <if test="pos.createDate != null">
                createDate = #{pos.createDate,jdbcType=DATE},
            </if>
            <if test="pos.enabled != null">
                enabled = #{pos.enabled,jdbcType=BIT}
            </if>
        </set>
        where id = #{pos.id, jdbcType=BIGINT};
    </update>
</mapper>