<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apkkids.myinfo_server.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.apkkids.myinfo_server.bean.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nameZh" property="nameZh"/>
    </resultMap>
    <select id="getAllRoles" resultMap="BaseResultMap">
        select * from role;
    </select>
    <insert id="addRole" parameterType="com.apkkids.myinfo_server.bean.Role">
        insert into role (name, nameZh) VALUES
        (#{role.name}, #{role.nameZh});
    </insert>
    <delete id="deleteRoleById" parameterType="String">
         delete from role where id = #{id}
    </delete>
    <update id="updateRole" parameterType="com.apkkids.myinfo_server.bean.Role">
        update role
        <set>
            <if test="role.name != null">
                name = #{role.name,jdbcType=VARCHAR},
            </if>
            <if test="role.nameZh != null">
                nameZh = #{role.nameZh,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{role.id};
    </update>
</mapper>