<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apkkids.myinfo_server.mapper.SalaryMapper">
    <select id="getAllSalary" resultType="com.apkkids.myinfo_server.bean.Salary">
        SELECT * FROM salary;
    </select>

    <insert id="addSalary" parameterType="com.apkkids.myinfo_server.bean.Salary">
        insert into salary (bonus, lunchSalary,
        trafficSalary, basicSalary,
        pensionBase, pensionPer, createDate,
        medicalBase, medicalPer, accumulationFundBase,
        accumulationFundPer, name)
        values (#{salary.bonus,jdbcType=INTEGER}, #{salary.lunchSalary,jdbcType=INTEGER},
        #{salary.trafficSalary,jdbcType=INTEGER}, #{salary.basicSalary,jdbcType=INTEGER},
        #{salary.pensionBase,jdbcType=INTEGER}, #{salary.pensionPer,jdbcType=REAL}, #{salary.createDate,jdbcType=TIMESTAMP},
        #{salary.medicalBase,jdbcType=INTEGER}, #{salary.medicalPer,jdbcType=REAL}, #{salary.accumulationFundBase,jdbcType=INTEGER},
        #{salary.accumulationFundPer,jdbcType=REAL}, #{salary.name,jdbcType=VARCHAR})
    </insert>
</mapper>