<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apkkids.myinfo_server.mapper.SysUserMapper">
    <resultMap id="SysUserResultMap" type="com.apkkids.myinfo_server.bean.SysUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.apkkids.myinfo_server.bean.SysUser" extends="SysUserResultMap">
        <collection property="roles" ofType="com.apkkids.myinfo_server.bean.Role"
                    select="com.apkkids.myinfo_server.mapper.SysUserMapper.getRolesByUserId"
                    column="id">
        </collection>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="com.apkkids.myinfo_server.bean.SysUser" extends="SysUserResultMap">
        <collection property="roles" ofType="com.apkkids.myinfo_server.bean.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>

    <!--搜索所有的SysUser-->
    <select id="getAllSysUser" resultType="com.apkkids.myinfo_server.bean.SysUser">
        SELECT * FROM sysuser
        <if test="currentId!=null">
            WHERE id != #{currentId}
        </if>
    </select>

    <!--根据SysUser的id选择所有的角色Role，返回Role集合-->
    <select id="getRolesByUserId" resultType="com.apkkids.myinfo_server.bean.Role">
         SELECT r.* from role r ,sysuser_role sr where sr.role_id=r.id and sr.sysuser_id = #{id}
    </select>

    <!--根据username搜索系统用户，带有角色信息-->
    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        SELECT * FROM sysuser WHERE username = #{username}
    </select>

    <select id="selectByUsername" resultType="com.apkkids.myinfo_server.bean.SysUser">
        select * from sysuser WHERE username=#{username};
    </select>

    <insert id="sysUserReg">
        INSERT INTO sysuser (username,password)
        VALUES ( #{username}, #{password});
    </insert>

    <delete id="deleteUserById">
        DELETE FROM sysuser WHERE id=#{id};
    </delete>

    <select id="getUsersByKeywords" resultMap="eagerLoadRoles">
        SELECT s.*, r.id AS rid, r.NAME AS rname, r.nameZh AS rnameZh FROM
        (
        ( sysuser s LEFT JOIN sysuser_role s_r ON ( ( s.id = s_r.sysuser_id ) ) )
        LEFT JOIN role r ON ( ( s_r.role_id = r.id ) )
        )
        WHERE
        s.id NOT IN ( SELECT s_r.sysuser_id FROM sysuser_role s_r, role r WHERE s_r.role_id = r.id AND r.nameZh =
        '系统管理员' )
        <if test="keywords!='all' and keywords!=''">
            AND s.NAME LIKE concat( '%', #{keywords}, '%' )
        </if>
        ORDER BY s.id LIMIT 100
    </select>

    <update id="updateSysUser">
        UPDATE sysuser
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addRolesForSysUser">
        INSERT INTO sysuser_role (sysuser_id,role_id) VALUE 
        <foreach collection="rids" item="rid" separator=",">
            (#{userId}, #{rid})
        </foreach>
    </insert>

    <delete id="deleteRoleByUserId">
        DELETE FROM sysuser_role WHERE sysuser_id = #{userId};
    </delete>
</mapper>